* {
    margin: 0;
    padding: 0;
}

/**********************************************************
MainView
**********************************************************/

QWidget#MainView {
    background-color: red;
}