/**********************************************************

PaymentWidget Stylesheet

**********************************************************/

QWidget#PaymentWidget {
    background-repeat: no-repeat;
    background-position: center;
}